<a href="https://colab.research.google.com/github/cuauhtemocbe/Python-Basics/blob/main/1_Tipos_de_datos_b%C3%A1sicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de Datos

Los tipos de datos son un conjunto de valores con características y propiedades determinadas. 

Los datos básicos son:

1. **Booleanos :** *bool* = True, False
2. **Númericos:**
  - **Enteros :** *int* = 10
  - **Flotantes :** *float* = 10.4
3. **Cadenas de caracteres:** *str* = "Hola, mundo!"

# Variables

Es una "caja" en la que podemos guardar un valor. Esta "caja" tiene un espacio en la memoria.

Se pueden represtarn con letras, palabras completas. Ej.

- x = 1
- precio_dolar = 19.94
- capital_mexico = "cdmx"
- bebo_poco = True

**Nombres NO válidos:**

- Números: 1, 2, 3, ..., n
- Palabras **reservadas** o **integradas** (built-in) en Python: str, int, float, print

# Funciones
Son instrucciones de código reutilizables que llevan a cabo una tarea en particular

1. **type** - Regresa el tipo de dato del objeto
2. **print** - Función que envía la información solicitada a la ventana de consola

# Lab: Tipos de Datos

## Tipo int

In [ ]:
entero = 124

In [ ]:
print(entero)

In [ ]:
print(type(entero))

## Tipo float

In [ ]:
dolar = 19.94

In [ ]:
print(dolar)

In [ ]:
print(type(dolar))

## Tipo bool

In [ ]:
bebo_poco = True

In [ ]:
print(bebo_poco)

In [ ]:
print(type(bebo_poco))

## Tipo str

In [ ]:
capital_mexico = "cdmx"

In [ ]:
capital_mexico = 'cdmx'

In [ ]:
print(capital_mexico)

In [ ]:
print(type(capital_mexico))

## Casteo

Nos permite convertir de un tipo de dato a otro. Para ello usamos **constructor functions**:
- int()
- float()
- str()

In [ ]:
x = '2'
print(x)

In [ ]:
print(x * 3)

In [ ]:
y = 2
print(y)

In [ ]:
x_int = int(x)

In [ ]:
print(x_int)

In [ ]:
print(type(x_int))

In [ ]:
dolar = float(19.94)

In [ ]:
print(type(dolar))

# Built-in Exceptions
Algunos errores de sintaxis levantaran una "Excepción".


- **NameError**: Ocurre cuando intetamos acceder a una variable o función que **aún no está definida**. 
- **SyntaxError:** EOL while scanning string literal. EOL (End of line). Python llégo al final de una línea mientras pasaba por una cadena de caracteres. Recuerda siempre cerrar las "comillas".
- **SyntaxError:** unexpected EOF while parsing. Puede deberse a que no cerramos con un paréntesis.

## NameError

In [ ]:
Print()

## SyntaxError

Al no cerrar las comillas

In [ ]:
print('Hola, mundo)

Al no cerrar paréntesis

In [ ]:
print('Hola, mundo'

# Ejercicio

Depurar el código, para ejecutar el siguiente bloque de código SIN errores.

**Valor esperado:** 12.5664

In [ ]:
print(area_circulo)

pi = '3.1416'
radio = 2

area_circulo = pi * radio * radio

prinT('El área del circulo es: ")