<a href="https://colab.research.google.com/github/cuauhtemocbe/Python-Basics/blob/main/4. Tipos_de_datos_complejos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tipos de datos complejos

Son tipos de datos más avanzados que str, float, int o bool. <br>

Son muy útiles para almacenar elementos (items) de una forma ordenada. 

**Palabras clave:** list, dict, set, range <br>
**Vocabulario:** índice, heterogeneidad, mutables, llaves (keys), duplicados

# Listas

La **lista** en Python son un tipo de dato muy útil para almacenar datos. <br>
De manera interna python asigna cada elemento a un índice. <br>
Nota: Un array o matriz/vector es una serie de elementos ordenados en filas o columnas.

Las listas son muy vérsatiles. Para crear una lista se mete la secuencia de datos dentro de corchetes **[ ]**

In [ ]:
mi_primer_lista = []
print('mi primera lista:', mi_primer_lista)
print(type(mi_primer_lista))

mi primera lista: []
<class 'list'>

In [ ]:
mi_segunda_lista = ['estoy adentro de la lista']
print(mi_segunda_lista)

['estoy adentro de la lista']

In [ ]:
mi_tercera_lista = ['estoy', 'adentro', 'de', 'la', 'lista']
print(mi_tercera_lista)

['estoy', 'adentro', 'de', 'la', 'lista']

Las listas en Python son:

- **heterogéneas**: pueden estar conformadas por elementos de distintos tipo, incluidos otras listas.
- **ordenadas**: La información se guarda mediante índices (index)
- **mutables**: sus elementos pueden modificarse.

### Heterogeneidad

In [ ]:
# Secuencia de elementos del mismo tipo
nombres_paises_lista = ['Angola', 'Alemania', 'Brasil', 'México']
print(type(nombres_paises_lista))
print(nombres_paises_lista)

<class 'list'>
['Angola', 'Alemania', 'Brasil', 'México']

In [1]:
# Secuencia de elementos de diferentes tipos
mix_datos_lista = [1, 'Alameda', None, True, 10_000.05]
print(type(mix_datos_lista))
print(mix_datos_lista)

<class 'list'>
[1, 'Alameda', None, True, 10000.05]

### Orden <br>
Los elementos de una lista pueden accederse mediante su índice, siendo 0 el índice del primer elemento.

In [2]:
nombres_paises_lista = ['Angola', 'Alemania', 'Brasil', 'México']

In [ ]:
#['Angola', 'Alemania', 'Brasil', 'México'][0]
nombres_paises_lista[0]

In [ ]:
# ['Angola', 'Alemania', 'Brasil', 'México'][1]
nombres_paises_lista[1]

In [ ]:
nombres_paises_lista[2]

In [ ]:
nombres_paises_lista[-1]

In [ ]:
nombres_paises_lista[-2]

In [ ]:
nombres_paises_lista[-3]

### Mutables<br>
Se pueden modificar una vez creadas

In [7]:
print(nombres_paises_lista[0]) #Primer elemento de la lista

República de Angola

In [8]:
# Modificando el primer elemento de la lista
nombres_paises_lista[0] = 'República de Angola'
print(nombres_paises_lista)

['República de Angola', 'Alemania', 'Brasil', 'México']

Ya que las listas pueden recibir diferentes tipos de datos, podemos agregarle un número (float) a nuestra lista.

In [9]:
# Modificando el segundo elemento de la lista
nombres_paises_lista[1] = 3.1416
print(nombres_paises_lista)

['República de Angola', 3.1416, 'Brasil', 'México']

### Valores duplicados
<br>
Ya que las listas son indexadas, se pueden poner valores duplicados.

In [10]:
frutas_list = ["mango", "durazno", "mamey", "mamey", "melón", "mamey"]
print(frutas_list)

['mango', 'durazno', 'mamey', 'mamey', 'melón', 'mamey']

In [11]:
frutas_list[3]

'mamey'

### Constructor list()
<br>
Podemos crear una lista de dos formas, usando corchetes y usando el constructor list()

In [ ]:
frutas_list = list("mango", "durazno", "mamey")
print(frutas_list)

## Métodos<br>

1. Función:Es una instrucción empaquetada encargada de cumplir con un objetivo.

2. Método: Un método es una función que «pertenece a» un objeto.

Función **help:** La función help invoca el sistema de ayuda integrado de Python

In [15]:
# help(list)

In [16]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
print(type(frutas_list))

<class 'list'>

In [17]:
help(frutas_list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## len()

Regresa el número de elementos que existen en la lista.

In [30]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
len(frutas_list)

4

In [32]:
numeros_lista = [1, 2, 3, 4, 5, 6]
len(numeros_lista)

6

In [33]:
vacio_lista = []
len(vacio_lista)

0

### append()
<br>
Este método agrega un elemento al final de una lista.

In [18]:
list.append

In [19]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [21]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_list.append("piña")
print(frutas_list)

['mango', 'durazno', 'mamey', 'melón', 'piña']

In [22]:
frutas_list.append(None)
print(frutas_list)

['mango', 'durazno', 'mamey', 'melón', 'piña', None]

### extend()<br>
Este método extiende una lista agregando un iterable al final.

In [35]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_2_list = ["manzana", "fresa", "melón", "piña"]
frutas_list.append(frutas_2_list)

In [36]:
print(frutas_list)

['mango', 'durazno', 'mamey', 'melón', ['manzana', 'fresa', 'melón', 'maíz']]

In [37]:
# ¿Cuántos elementos hay en la lista?
len(frutas_list)

5

Nota que que si usamos **append** agrega el elemento como una lista, mientras que, si usamos **extend**, se agregaran todos los elementos a la list pero desempaquetados.

In [38]:
frutas_list = ["manzana", "fresa", "melón", "piña"]
frutas_2_list = ["manzana", "fresa", "melón", "piña"]
frutas_list.extend(frutas_2_list)

In [39]:
print(frutas_list)

['manzana', 'fresa', 'melón', 'piña', 'manzana', 'fresa', 'melón', 'piña']

In [40]:
len(frutas_list)

8

### index()
<br>
Este método recibe un elemento como argumento, y devuelve el índice de su primera aparición en la lista.

In [41]:
frutas_list = ["mango", "durazno", "mamey", "mamey", "melón"]
print(frutas_list.index("mango"))

0

In [42]:
print(frutas_list.index("mamey"))

2

In [43]:
print(frutas_list[2])

mamey

**IndexError:** Sucede cuando se intenta acceder a un índice que no existe en la lista

In [44]:
frutas_list[5]

IndexError: ignored

### reverse()
<br>
Este método invierte el orden de los elementos de una lista.

In [48]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [45]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
# frutas_list = frutas_list.reverse()
print(frutas_list.reverse())

None

In [49]:
frutas_list = frutas_list.reverse()
print(frutas_list)

None

In [50]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_list.reverse()
print(frutas_list)

['melón', 'mamey', 'durazno', 'mango']

### sort()
Este método ordena los elementos de una lista.

In [ ]:
frutas_list = ["sandia", "mango", "durazno", "mamey", "melón"]
print(frutas_list.sort())

In [ ]:
print(frutas_list)

In [ ]:
numeros_list = [2, 3, 4, 1, 10]
numeros_list.sort()

In [ ]:
# buscar la diferencia entres sorted y sort
print(numeros_list)

In [ ]:
# fancy indexing, funciona con listas y strings
'anita lava la tina'[::-1]

### Temporada de frutas en México

In [53]:
table = [
         ['Guayaba', 'Psidium guajava', 'Febrero'],
         ['Fresa', 'Fragaria', 'Enero'],
         ['Mamey', 'Pouteria sapota', 'Marzo'],
         ['Fresa', 'Fragaria', 'Enero'],
         ]

In [54]:
import pandas as pd

pd.DataFrame(table)

         0                1        2
0  Guayaba  Psidium guajava  Febrero
1    Fresa         Fragaria    Enero
2    Mamey  Pouteria sapota    Marzo
3    Fresa         Fragaria    Enero

In [55]:
frutas_df = pd.DataFrame(table, columns=['Nombre común', 'Nombre científico', 'Temporada'])

In [56]:
frutas_df

  Nombre común Nombre científico Temporada
0      Guayaba   Psidium guajava   Febrero
1        Fresa          Fragaria     Enero
2        Mamey   Pouteria sapota     Marzo
3        Fresa          Fragaria     Enero

In [58]:
to_append = ['Naranja', 'Citrus X sinensis', 'Abril']
a_series = pd.Series(to_append, index=frutas_df.columns)
df = frutas_df.append(a_series, ignore_index=True)
df

  Nombre común  Nombre científico Temporada
0      Guayaba    Psidium guajava   Febrero
1        Fresa           Fragaria     Enero
2        Mamey    Pouteria sapota     Marzo
3        Fresa           Fragaria     Enero
4      Naranja  Citrus X sinensis     Abril

## Ejercicio

# Diccionarios

## Conjuntos

# Range
range es un tipo de dato que representa una secuencia de números inmutable. Calcula los items al vuelo o cunado son requridos. 

Entonces es más óptimo, por que ocupa menos espacio de memoria

In [ ]:
import sys

# Nos devuelve el tamaño de un objeto en bytes

sys.getsizeof(4)

28

In [ ]:
sys.getsizeof('hola')

53

In [ ]:
# Tamaño inicial 72 kb
# Más 8 por item adicional
sys.getsizeof([1, 2, 3])

96

In [ ]:
million_list = [item for item in range(100_000_000)]
kb = sys.getsizeof(million_list)
mb = kb / 1_000_000
print(f'{mb:,}')

859.72448

In [ ]:
sys.getsizeof(range(100_000_000))

48

In [ ]:
# testing timeit()
import timeit
print(timeit.timeit('output = 10*5'))

0.02613392399996428

In [ ]:
print(timeit.repeat('5 in range(100_000_000)', repeat=5))

[0.3657033549999369, 0.30538606699997217, 0.3086029820000249, 0.3157006389999424, 0.30496414399999594]

In [ ]:
%%timeit
5 in range(100_000_000)

309 ns ± 13.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit
5 < 100_000_000

39.3 ns ± 0.764 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# Str

# Tipos de datos avanzados

Los operadores de pertenencia se utilizan para comprobar si un valor o variable se encuentran en una secuencia (list, tuple, dict, set o str).


in Devuelve True si el valor se encuentra en una secuencia; False en caso contrario.
not int

Devuelve True si el valor se encuentra en una secuencia; False en caso contrario.

In [59]:
>>> lista = [1, 3, 2, 7, 9, 8, 6]
>>> 4 in lista
False
>>> 3 in lista
True
>>> 4 not in lista
True

True